USE [master]
GO
/****** Object:  Database [KurumsalDuyuruPanosu]    Script Date: 23.02.2026 01:37:59 ******/
CREATE DATABASE [KurumsalDuyuruPanosu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KurumsalDuyuruPanosu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KurumsalDuyuruPanosu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KurumsalDuyuruPanosu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KurumsalDuyuruPanosu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KurumsalDuyuruPanosu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KurumsalDuyuruPanosu]
GO
/****** Object:  Table [dbo].[Duyurular]    Script Date: 23.02.2026 01:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duyurular](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](100) NULL,
	[Icerik] [nvarchar](max) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Duyurular] ON 

INSERT [dbo].[Duyurular] ([Id], [Baslik], [Icerik], [Tarih]) VALUES (1, N'Maaş Zammı', N'Tüm çalışanlara %30 zam yapılmıştır.', CAST(N'2026-02-23T00:19:43.607' AS DateTime))
INSERT [dbo].[Duyurular] ([Id], [Baslik], [Icerik], [Tarih]) VALUES (2, N'Yemekhane Tadilatı', N'Yemekhane 2 gün kapalıdır.', CAST(N'2026-02-23T00:19:43.607' AS DateTime))
INSERT [dbo].[Duyurular] ([Id], [Baslik], [Icerik], [Tarih]) VALUES (3, N'Yeni Proje', N'React projesine başlıyoruz!', CAST(N'2026-02-23T00:19:43.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[Duyurular] OFF
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
/****** Object:  StoredProcedure [dbo].[sp_DuyuruEkle]    Script Date: 23.02.2026 01:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DuyuruEkle]
    @Baslik NVARCHAR(100),
    @Icerik NVARCHAR(MAX)
AS
BEGIN
    -- Dışarıdan gelen veriyi tabloya ekle
    INSERT INTO Duyurular (Baslik, Icerik, Tarih)
    VALUES (@Baslik, @Icerik, GETDATE()) 
    -- Tarihi biz otomatik atıyoruz (GETDATE)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DuyurulariGetir]    Script Date: 23.02.2026 01:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DuyurulariGetir]
AS
BEGIN
    SELECT * FROM Duyurular ORDER BY Tarih DESC; -- En yeniden eskiye
END
GO
USE [master]
GO
